th.prooftable{
    text-align: left;
}
.instruction{
    visibility:  hidden;
    color: orange;
    font-weight: bold;
}
div.wff{
    display: inline;
}
div.wff.selected{
    border: 5px solid orange;
}

.input-group-addon{
    min-width: 150px;
    text-align: left;
}
.done{
    display: none;
}
.next_step{
    display: none;
}
