.container
  - @articles.each do |article|
    .card.outline-info
      .card-block.bg-info
        .card-title
          %h1 
            = article[:title]
      .card-block
        .card-body
          %span.article_content.article_preview
            = "#{article[:content][0..700]}..."

          %span.article_content.article_main
            = article[:content]
