<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>

<!-- Bootstrap CDN -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<!-- /Bootstrap -->

%link(rel="stylesheet" type="text/css" href="styles.css")

<script src="index.js"></script>
<title> Manuel's Proof Tool</title>
</head>


%h1{:align => "center"} Logic Proof Tool
#content.container-fluid
  .row
  .implication_input.input-group-lg.col-lg12
    %h2.input-group-addon Enter your formula
    .input-group
      %span.input-group-addon#sizing-addon1 Premises
      %input.form-control#premises{:type => "text", :placeholder => "Premises: A, A -> B, B <-> C, C or D, etc."}
    .input-group
      %span.input-group-addon Conclusion
      %input.form-control#conclusion{:type => "text", :placeholder => "Conclusion: A -> not (B and C)"}
    .input-group-btn
      %input.btn.btn-primary.btn-block#submit{:type => "submit"}
  .proof_table.col-lg12
    %h2 Proof
    %table.table-striped#prooftable{:style => "width: 100%"}
      %thead
        %tr
          %th.prooftable Step
          %th.prooftable Implication
          %th.prooftable Law
          %th.prooftable ✔/✘
      %tbody
  .next_step.col-lg12
    %h2 Next step
    .row
      %h3.instruction.col-md-12#select_component    Select a component to work on
    .row
      #workingon.col-md-12
    .row
      %h3.instruction.col-md-12#select_law    Select which law to apply
    .row
      #availablelaws.col-md-12
  .done.col-lg12
    %h2 Done
    #message
