.row
  .col-md-5
    .panel
      .bg-success
        %h1 
          New tool: 
          %small
            PC<sub>0</sub> with Equality
        %p
          The proving tool for PC<sub>0</sub> has finally been released into an "open beta". If you find any mistakes please file a bug report on
          %a{:href => "https://github.com/manuelkappler/rubylogic"} GitHub
          %p
            %a.btn.btn-primary.btn-lg{:href => "/predicate_logic/"}
              Have a look!
.container
  .row
    .panel
      .bg-success
        %h1
          New tool:
          %small
            Sentential Logic Proofs
        %p
          The proving tool for 
          %a{:href => "sentential_proof/"} Sentential Logic 
          has been released. 
        %p
          %a.btn.btn-primary.btn-lg{:href => "sentential_logic/"}
            Have a look!
