%head

  <!-- JQUERY -->
  %script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")

  <!-- MathJax -->
  %script(src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML')

  <!-- Bootstrap CDN -->
  %link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous")
  %script(src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous")
  %script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous")


  <!-- /Bootstrap -->

  %link(rel="stylesheet" type="text/css" href="styles.css")


  %title Columbia Logic Proof Tool

%body

  .container
    %nav.navbar
      %button.navbar-toggler.navbar-toggler-right{:type => "button", :data => {:toggle => "collapse", :target => "#navcontent"}, :aria => {:controls => "navcontent", :expanded => "false"}}
        %span.navbar-toggler-icon
      %ul.nav.justify-content-left#navcontent
        %li.nav-item
          %a.navbar-brand{:href => "/"} Columbia Logic Tools
        %li.nav-item
          %a.nav-link{:href => "/"} Home 
        %li.nav-item.dropdown
          %a.nav-link.dropdown-toggle{:href => "#", :data => {:toggle => "dropdown"}, :role => "button", :aria => {:haspopup => "true", :expanded => "false"}} Sentential Logic
          %ul.dropdown-menu
            %li.nav-item
              %a.nav-link{:href => "../sentential_logic/"} Proof Tool
            %li.nav-item
              %a.nav-link{:href => "../truthtables/"} Truthtables
        %li.nav-item.dropdown
          %a.nav-link.dropdown-toggle{:href => "#", :data => {:toggle => "dropdown"}, :role => "button", :aria => {:haspopup => "true", :expanded => "false"}} Predicate Logic
          %ul.dropdown-menu
            %li.nav-item
              %a.nav-link{:href => "../predicate_logic/"} Proofs in PC<sub>0</sub>
            %li.nav-item
              %a.nav-link.disabled{:href => "#"} Proofs in FOL
        %li.nav-item.disabled
          %a.nav-link{:href => "#"} About

  .container
    = yield

  %footer.footer#bottom
    .container.pull-right
      %p.text-muted.pull-right
        Copyright &copy;2017 by 
        %a{:href => "mailto:mdk2134@columbia.edu"} Manuel Käppler
