#content.container-fluid
  .page-header 
    %h1 Logic Proof Tool for PC<sub>0</sub> with Equality
  .card.card-outline-primary#input
    .card-block.card-inverse.bg-primary#input_title_block{:data => {:toggle => "collapse", :target => "#collapse_input"}, :aria => {:expanded => "false", :controls => "collapse_input"}}
      .card-title#input_heading
        %h2 Enter your formula
    .card-block.collapse.show.no-transition#collapse_input
      .input-group
        %span.input-group-addon#sizing-addon1 Premises
        %input.form-control#premises{:type => "text", :placeholder => "Enter Premises, e.g.:  P(a), L(b, c) -> H(d), a ≈ b, c eq d, H(e) <-> H(f)"}
      .input-group
        %span.input-group-addon Conclusion
        %input.form-control#conclusion{:type => "text", :placeholder => "Enter Conclusion in the same format as premises, e.g.: H(a)"}
      .input-group-lg
        %input.btn.btn-primary.btn-block#submit{:type => "submit"}
  .card.card-outline-info.hidden-xl-down#proof
    .card-block.bg-info
      .card-title
        %h2 Proof
    .card-block
      .proof_table.table-responsive
        %table.table-striped.table-sm#prooftable{:style => "width: 100%"}
          %thead
            %tr
              %th.prooftable Step
              %th.prooftable Implication
              %th.prooftable Law
              %th.prooftable ✔/✘
          %tbody
  .card.card-outline-default.hidden-xl-down#next_step
    .card-block.bg-primary
      .card-title
        %h2 Next step
    .card-block
      .card-body
        .card-block
          .card-title
            %h3.instruction#select_component Select a component to work on
          .card-body
            #workingon
        .card-block
          .card-title
            %h3.instruction#select_law Select which law to apply
          .card-body
            #availablelaws
  .card.card-outline-success.hidden-xl-down#done
    .card-block#done_title
      .card-title
        %h2 Done
    .card-block
      .card-body#done_message
